* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, form, legend, label { 
	margin: 0;
	padding: 0;
}

.is-vishidden { 
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
}

body { 
	background: white;
	font: 100%/1.5 &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #333333;
}

fieldset { 
	border: 0;
	padding: 0;
	margin: 0;
}

label { 
	display: block;
	padding-bottom: 0.5em;
}

button, input { 
	font-family: inherit;
	font-size: 100%;
	margin: 0 1px 0;
}

input { 
	width: 100%;
	border: 1px solid gray;
	padding: 0.5em 0.65rem;
}

input[type=search] { 
	-webkit-appearance: none;
}

button { 
	padding: 0.5em;
	background: #333333;
	border: 1px solid gray;
	cursor: pointer;
}

input[type=&quot;search&quot;] { 
	-webkit-appearance: none;
	border-radius: 0;
}

input[type=&quot;search&quot;]::-webkit-search-decoration { 
	-webkit-appearance: none;
}

.inline-form fieldset { 
	position: relative;
}

.inline-form button { 
	font-size: 0.875em;
	padding: 0.65rem 1.3rem;
	background: #333333;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: auto;
}

.inline-form button:hover, .inline-form button:focus { 
	background: gray;
	color: white;
}

.search-field { 
	padding-right: 3em;
}

.inline-form .search-submit { 
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid gray;
	color: gray;
}

.search-form { 
	overflow: hidden;
	max-height: 0;
}

.icon-search:before { 
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-search:before { 
	content: &quot;\73&quot;;
}

@media all and (min-width: 46.8em) {
	.search-form { 
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}


}

@font-face {
	font-family: 'icons';
	src: url(&quot;../fonts/icons.eot&quot;);
	src: url(&quot;../fonts/icons.eot?#iefix&quot;) format(&quot;embedded-opentype&quot;), url(&quot;../fonts/icons.woff&quot;) format(&quot;woff&quot;), url(&quot;../fonts/icons.ttf&quot;) format(&quot;truetype&quot;), url(&quot;../fonts/icons.svg#icons&quot;) format(&quot;svg&quot;);
	font-weight: normal;
	font-style: normal;
}

