* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, p, blockquote, ol, ul, li { 
	margin: 0;
	padding: 0;
}

body { 
	background: white;
	font: 100%/1.5 &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #333333;
}

a { 
	color: #333333;
	text-decoration: none;
	outline: 0;
}

a:hover, a:focus { 
	color: gray;
}

p { 
	margin-bottom: 1em;
}

blockquote { 
	font-style: italic;
	border-left: 1px solid gray;
	color: gray;
	padding-left: 1em;
	margin-bottom: 1em;
}

ol, ul { 
	margin: 0;
	padding: 0;
	list-style: none;
}

img { 
	max-width: 100%;
	height: auto;
}

.intro { 
	font-size: 1.0625em;
	font-weight: bold;
}

.text ul { 
	list-style: disc;
	margin: 0 0 1em 1.2em;
}

.text ul ul { 
	margin-bottom: 0;
}

.text ol { 
	list-style: decimal;
	margin: 0 0 1em 1.5em;
}

.text ol ol { 
	margin-bottom: 0;
}

@font-face {
	.text ol ol { 
		font-family: 'icons';
		src: url(&quot;../fonts/icons.eot&quot;);
		src: url(&quot;../fonts/icons.eot?#iefix&quot;) format(&quot;embedded-opentype&quot;), url(&quot;../fonts/icons.woff&quot;) format(&quot;woff&quot;), url(&quot;../fonts/icons.ttf&quot;) format(&quot;truetype&quot;), url(&quot;../fonts/icons.svg#icons&quot;) format(&quot;svg&quot;);
		font-weight: normal;
		font-style: normal;
	}


}

