* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, p, footer { 
	margin: 0;
	padding: 0;
}

footer { 
	display: block;
}

body { 
	background: white;
	font: 100%/1.5 &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #333333;
}

p { 
	margin-bottom: 1em;
}

.lc { 
	max-width: 72em;
	margin: 0 auto;
	padding: 0.5em;
}

.footer { 
	clear: both;
	overflow: hidden;
	background: #131313;
	color: white;
	line-height: 1.2;
}

@media all and (min-width: 46.8em) {
	.copyright { 
		float: right;
	}


}

@font-face {
	font-family: 'icons';
	src: url(&quot;../fonts/icons.eot&quot;);
	src: url(&quot;../fonts/icons.eot?#iefix&quot;) format(&quot;embedded-opentype&quot;), url(&quot;../fonts/icons.woff&quot;) format(&quot;woff&quot;), url(&quot;../fonts/icons.ttf&quot;) format(&quot;truetype&quot;), url(&quot;../fonts/icons.svg#icons&quot;) format(&quot;svg&quot;);
	font-weight: normal;
	font-style: normal;
}

